li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
}

.btn {
    padding: 5px 20px;
    background: orange;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    font-style: italic;
}